body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #554b4b;
}

.loader {
    width: 200px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.bar {
    height: 100%;
    width: 0;
    background-color: #ff5e00;
    border-radius: 10px;
    transition: width 2s;
}
