body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
	
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 display: flex;
    flex-wrap: wrap;
    
}

article {
    margin-bottom: 20px;
 display: flex;
    flex-wrap: wrap;
    
}

header {
    text-align: center;
    margin-bottom: 20px;
 display: flex;
    flex-wrap: wrap;
    
}

h1 {
 display: flex;
    flex-wrap: wrap;
    color: #333;
}

.meta {
 display: flex;
    flex-wrap: wrap;
    
    color: #777;
}

.image-container {
    display: flex; /* Exibe as imagens lado a lado */
    justify-content: space-between; /* Adiciona algum espaço entre as imagens */
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
}

.image-container img {
    width: 48%; /* Define a largura das imagens */
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
}

.lead {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
	justify-content:center;
 display: flex;
    flex-wrap: wrap;
    
}
cite {
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: #555;
 display: flex;
    flex-wrap: wrap;
    
}
#Maquinista{
	 display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	 margin-bottom: 80px;
	width: 48%; /* Define a largura das imagens */
    border-radius: 30px;
}
.container-maqui {
    display: flex; /* Exibe as imagens lado a lado */
    justify-content: center; /* Adiciona algum espaço entre as imagens */
    margin-bottom: 80px;
    flex-wrap: wrap;
    
}

.container-maqui img {
    width: 48%; /* Define a largura das imagens */
	border-radius: 30px;
 display: flex;
    flex-wrap: wrap;
    
}
.container-maqui1 {
    display: flex; /* Exibe as imagens lado a lado */
    justify-content: center; /* Adiciona algum espaço entre as imagens */
    margin-bottom: ;]
    flex-wrap: wrap;
    
}
.container-maqu{
	 display: flex;
    flex-wrap: wrap;
	justify-content:space-around;
}
footer{
	
	display:flex;
	flex-direction:row;
	justify-content:center;
        flex-wrap: wrap;
}
#metro{
 display: flex;
    flex-wrap: wrap;
    
	justify-content:center;
}
.container-maq{
 	display: flex;
    flex-wrap: wrap;
    
	justify-content:center;
}
ul{
	font-size:15px;
 display: flex;
    flex-wrap: wrap;
    
}
center#ct{
	 display: flex;
    flex-wrap: wrap;
	align-items:center;
	justify-content:space-around;
}
