body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

.meta {
    color: #777;
}

.image-container {
    display: flex; /* Exibe as imagens lado a lado */
    justify-content: space-between; /* Adiciona algum espaço entre as imagens */
    margin-bottom: 80px;
}

.image-container img {
    width: 48%; /* Define a largura das imagens */
    border-radius: 30px;
    height:"200"
}

.image-container2 {
    display: flex; /* Exibe as imagens lado a lado */
    justify-content: space-between; /* Adiciona algum espaço entre as imagens */
    margin-bottom: 80px;
}

.image-container2 img {
    width: 48%; /* Define a largura das imagens */
    border-radius: 30px;
    height: 290px;
}

.lead {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 20px 0;
    padding: 10px;
}

blockquote p {
    margin: 0;
}

cite {
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

p, ul {
    font-size: 19px;
    font-family: sans-serif;
    text-align: justify;
}

.escolhar{
    background-color: #4e4a4a;
    color:aliceblue;
    text-align: center;
    padding: 20px;
    position: absolute;
    width:97%;
}

h3{
    margin: 20px ;
    color: aliceblue;
    text-decoration: none;
}
.letra_color{
    color: #535353;
}

#right_left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

li {
    color:rgb(0, 53, 151);
}